nav.side-nav
  a.intro-x.flex.items-center.pl-5.pt-4(href="")
    img.w-6(alt="Midone Tailwind HTML Admin Template" src="/images/logo.svg")
    span.hidden.text-white.text-lg.ml-3(class="xl:block")
      | Mid
      span.font-medium one
  .side-nav__devider.my-6
  ul
    li
      a.side-menu.side-menu--active(href="index.html")
        .side-menu__icon
          i(data-feather="home")
        .side-menu__title  Dashboard 
    li
      a.side-menu(href="javascript:;")
        .side-menu__icon
          i(data-feather="box")
        .side-menu__title
          | Menu Layout 
          i.side-menu__sub-icon(data-feather="chevron-down")
      ul
        li
          a.side-menu(href="index.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Side Menu 
        li
          a.side-menu(href="simple-menu-dashboard.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Simple Menu 
        li
          a.side-menu(href="top-menu-dashboard.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Top Menu 
    li
      a.side-menu(href="side-menu-inbox.html")
        .side-menu__icon
          i(data-feather="inbox")
        .side-menu__title  Inbox 
    li
      a.side-menu(href="side-menu-file-manager.html")
        .side-menu__icon
          i(data-feather="hard-drive")
        .side-menu__title  File Manager 
    li
      a.side-menu(href="side-menu-point-of-sale.html")
        .side-menu__icon
          i(data-feather="credit-card")
        .side-menu__title  Point of Sale 
    li
      a.side-menu(href="side-menu-chat.html")
        .side-menu__icon
          i(data-feather="message-square")
        .side-menu__title  Chat 
    li
      a.side-menu(href="side-menu-post.html")
        .side-menu__icon
          i(data-feather="file-text")
        .side-menu__title  Post 
    li.side-nav__devider.my-6
    li
      a.side-menu(href="javascript:;")
        .side-menu__icon
          i(data-feather="edit")
        .side-menu__title
          | Crud 
          i.side-menu__sub-icon(data-feather="chevron-down")
      ul
        li
          a.side-menu(href="side-menu-crud-data-list.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Data List 
        li
          a.side-menu(href="side-menu-crud-form.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Form 
    li
      a.side-menu(href="javascript:;")
        .side-menu__icon
          i(data-feather="users")
        .side-menu__title
          | Users 
          i.side-menu__sub-icon(data-feather="chevron-down")
      ul
        li
          a.side-menu(href="side-menu-users-layout-1.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Layout 1 
        li
          a.side-menu(href="side-menu-users-layout-2.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Layout 2 
        li
          a.side-menu(href="side-menu-users-layout-3.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Layout 3 
    li
      a.side-menu(href="javascript:;")
        .side-menu__icon
          i(data-feather="trello")
        .side-menu__title
          | Profile 
          i.side-menu__sub-icon(data-feather="chevron-down")
      ul
        li
          a.side-menu(href="side-menu-profile-overview-1.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Overview 1 
        li
          a.side-menu(href="side-menu-profile-overview-2.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Overview 2 
        li
          a.side-menu(href="side-menu-profile-overview-3.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Overview 3 
    li
      a.side-menu(href="javascript:;")
        .side-menu__icon
          i(data-feather="layout")
        .side-menu__title
          | Pages 
          i.side-menu__sub-icon(data-feather="chevron-down")
      ul
        li
          a.side-menu(href="javascript:;")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title
              | Wizards 
              i.side-menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.side-menu(href="side-menu-wizard-layout-1.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 1
            li
              a.side-menu(href="side-menu-wizard-layout-2.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 2
            li
              a.side-menu(href="side-menu-wizard-layout-3.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 3
        li
          a.side-menu(href="javascript:;")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title
              | Blog 
              i.side-menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.side-menu(href="side-menu-blog-layout-1.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 1
            li
              a.side-menu(href="side-menu-blog-layout-2.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 2
            li
              a.side-menu(href="side-menu-blog-layout-3.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 3
        li
          a.side-menu(href="javascript:;")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title
              | Pricing 
              i.side-menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.side-menu(href="side-menu-pricing-layout-1.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 1
            li
              a.side-menu(href="side-menu-pricing-layout-2.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 2
        li
          a.side-menu(href="javascript:;")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title
              | Invoice 
              i.side-menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.side-menu(href="side-menu-invoice-layout-1.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 1
            li
              a.side-menu(href="side-menu-invoice-layout-2.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 2
        li
          a.side-menu(href="javascript:;")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title
              | FAQ 
              i.side-menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.side-menu(href="side-menu-faq-layout-1.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 1
            li
              a.side-menu(href="side-menu-faq-layout-2.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 2
            li
              a.side-menu(href="side-menu-faq-layout-3.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Layout 3
        li
          a.side-menu(href="login-login.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Login 
        li
          a.side-menu(href="login-register.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Register 
        li
          a.side-menu(href="main-error-page.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Error Page 
        li
          a.side-menu(href="side-menu-update-profile.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Update profile 
        li
          a.side-menu(href="side-menu-change-password.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Change Password 
    li.side-nav__devider.my-6
    li
      a.side-menu(href="javascript:;")
        .side-menu__icon
          i(data-feather="inbox")
        .side-menu__title
          | Components 
          i.side-menu__sub-icon(data-feather="chevron-down")
      ul
        li
          a.side-menu(href="javascript:;")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title
              | Grid 
              i.side-menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.side-menu(href="side-menu-regular-table.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Regular Table
            li
              a.side-menu(href="side-menu-datatable.html")
                .side-menu__icon
                  i(data-feather="zap")
                .side-menu__title Datatable
        li
          a.side-menu(href="side-menu-accordion.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Accordion 
        li
          a.side-menu(href="side-menu-button.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Button 
        li
          a.side-menu(href="side-menu-modal.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Modal 
        li
          a.side-menu(href="side-menu-alert.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Alert 
        li
          a.side-menu(href="side-menu-progress-bar.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Progress Bar 
        li
          a.side-menu(href="side-menu-tooltip.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Tooltip 
        li
          a.side-menu(href="side-menu-dropdown.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Dropdown 
        li
          a.side-menu(href="side-menu-toast.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Toast 
        li
          a.side-menu(href="side-menu-typography.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Typography 
        li
          a.side-menu(href="side-menu-icon.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Icon 
        li
          a.side-menu(href="side-menu-loading-icon.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Loading Icon 
    li
      a.side-menu(href="javascript:;")
        .side-menu__icon
          i(data-feather="sidebar")
        .side-menu__title
          | Forms 
          i.side-menu__sub-icon(data-feather="chevron-down")
      ul
        li
          a.side-menu(href="side-menu-regular-form.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Regular Form 
        li
          a.side-menu(href="side-menu-datepicker.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Datepicker 
        li
          a.side-menu(href="side-menu-select2.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Select2 
        li
          a.side-menu(href="side-menu-file-upload.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  File Upload 
        li
          a.side-menu(href="side-menu-wysiwyg-editor.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Wysiwyg Editor 
        li
          a.side-menu(href="side-menu-validation.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Validation 
    li
      a.side-menu(href="javascript:;")
        .side-menu__icon
          i(data-feather="hard-drive")
        .side-menu__title
          | Widgets 
          i.side-menu__sub-icon(data-feather="chevron-down")
      ul
        li
          a.side-menu(href="side-menu-chart.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Chart 
        li
          a.side-menu(href="side-menu-slider.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Slider 
        li
          a.side-menu(href="side-menu-image-zoom.html")
            .side-menu__icon
              i(data-feather="activity")
            .side-menu__title  Image Zoom 
