nav.side-nav
  a.intro-x.flex.items-center.pl-5.pt-4(href="")
    img.w-6(alt="Legalgram" src="/images/logo.svg")
    span.hidden.text-white.text-lg.ml-3(class="xl:block")
      | Legalgram
  .side-nav__devider.my-6
  ul
    li
      a.side-menu(class= path === '/dashboard' && 'side-menu--active' href="/admin/dashboard")
        .side-menu__icon
          i(data-feather="home")
        .side-menu__title  Dashboard
    li
      a.side-menu(class= path ==='/users' && 'side-menu--active' href="/admin/users")
        .side-menu__icon
          i(data-feather="inbox")
        .side-menu__title  Users