doctype html
//
  Template Name: Midone - HTML Admin Dashboard Template
  Author: Left4code
  Website: http://www.left4code.com/
  Contact: muhammadrizki@left4code.com
  Purchase: https://themeforest.net/user/left4code/portfolio
  Renew Support: https://themeforest.net/user/left4code/portfolio
  License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
html(lang="en")
  // BEGIN: Head
  head
    meta(charset="utf-8")
    link(href="/images/logo.svg" rel="shortcut icon")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.")
    meta(name="keywords" content="admin template, Midone admin template, dashboard template, flat admin template, responsive admin template, web app")
    meta(name="author" content="LEFT4CODE")
    title Dashboard - Midone - Tailwind HTML Admin Template
    // BEGIN: CSS Assets
    link(rel="stylesheet" href="/css/app.css")
    // END: CSS Assets
  // END: Head
  body.app
    // BEGIN: Mobile Menu
    .mobile-menu(class="md:hidden")
      .mobile-menu-bar
        a.flex.mr-auto(href="")
          img.w-6(alt="Midone Tailwind HTML Admin Template" src="/images/logo.svg")
        a#mobile-menu-toggler(href="javascript:;")
          i.w-8.h-8.text-white.transform.-rotate-90(data-feather="bar-chart-2")
      ul.border-t.border-theme-24.py-5.hidden
        li
          a.menu.menu--active(href="index.html")
            .menu__icon
              i(data-feather="home")
            .menu__title  Dashboard 
        li
          a.menu(href="javascript:;")
            .menu__icon
              i(data-feather="box")
            .menu__title
              | Menu Layout 
              i.menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.menu(href="index.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Side Menu 
            li
              a.menu(href="simple-menu-dashboard.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Simple Menu 
            li
              a.menu(href="top-menu-dashboard.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Top Menu 
        li
          a.menu(href="side-menu-inbox.html")
            .menu__icon
              i(data-feather="inbox")
            .menu__title  Inbox 
        li
          a.menu(href="side-menu-file-manager.html")
            .menu__icon
              i(data-feather="hard-drive")
            .menu__title  File Manager 
        li
          a.menu(href="side-menu-point-of-sale.html")
            .menu__icon
              i(data-feather="credit-card")
            .menu__title  Point of Sale 
        li
          a.menu(href="side-menu-chat.html")
            .menu__icon
              i(data-feather="message-square")
            .menu__title  Chat 
        li
          a.menu(href="side-menu-post.html")
            .menu__icon
              i(data-feather="file-text")
            .menu__title  Post 
        li.menu__devider.my-6
        li
          a.menu(href="javascript:;")
            .menu__icon
              i(data-feather="edit")
            .menu__title
              | Crud 
              i.menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.menu(href="side-menu-crud-data-list.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Data List 
            li
              a.menu(href="side-menu-crud-form.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Form 
        li
          a.menu(href="javascript:;")
            .menu__icon
              i(data-feather="users")
            .menu__title
              | Users 
              i.menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.menu(href="side-menu-users-layout-1.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Layout 1 
            li
              a.menu(href="side-menu-users-layout-2.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Layout 2 
            li
              a.menu(href="side-menu-users-layout-3.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Layout 3 
        li
          a.menu(href="javascript:;")
            .menu__icon
              i(data-feather="trello")
            .menu__title
              | Profile 
              i.menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.menu(href="side-menu-profile-overview-1.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Overview 1 
            li
              a.menu(href="side-menu-profile-overview-2.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Overview 2 
            li
              a.menu(href="side-menu-profile-overview-3.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Overview 3 
        li
          a.menu(href="javascript:;")
            .menu__icon
              i(data-feather="layout")
            .menu__title
              | Pages 
              i.menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.menu(href="javascript:;")
                .menu__icon
                  i(data-feather="activity")
                .menu__title
                  | Wizards 
                  i.menu__sub-icon(data-feather="chevron-down")
              ul
                li
                  a.menu(href="side-menu-wizard-layout-1.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 1
                li
                  a.menu(href="side-menu-wizard-layout-2.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 2
                li
                  a.menu(href="side-menu-wizard-layout-3.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 3
            li
              a.menu(href="javascript:;")
                .menu__icon
                  i(data-feather="activity")
                .menu__title
                  | Blog 
                  i.menu__sub-icon(data-feather="chevron-down")
              ul
                li
                  a.menu(href="side-menu-blog-layout-1.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 1
                li
                  a.menu(href="side-menu-blog-layout-2.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 2
                li
                  a.menu(href="side-menu-blog-layout-3.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 3
            li
              a.menu(href="javascript:;")
                .menu__icon
                  i(data-feather="activity")
                .menu__title
                  | Pricing 
                  i.menu__sub-icon(data-feather="chevron-down")
              ul
                li
                  a.menu(href="side-menu-pricing-layout-1.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 1
                li
                  a.menu(href="side-menu-pricing-layout-2.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 2
            li
              a.menu(href="javascript:;")
                .menu__icon
                  i(data-feather="activity")
                .menu__title
                  | Invoice 
                  i.menu__sub-icon(data-feather="chevron-down")
              ul
                li
                  a.menu(href="side-menu-invoice-layout-1.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 1
                li
                  a.menu(href="side-menu-invoice-layout-2.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 2
            li
              a.menu(href="javascript:;")
                .menu__icon
                  i(data-feather="activity")
                .menu__title
                  | FAQ 
                  i.menu__sub-icon(data-feather="chevron-down")
              ul
                li
                  a.menu(href="side-menu-faq-layout-1.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 1
                li
                  a.menu(href="side-menu-faq-layout-2.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 2
                li
                  a.menu(href="side-menu-faq-layout-3.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Layout 3
            li
              a.menu(href="login-login.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Login 
            li
              a.menu(href="login-register.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Register 
            li
              a.menu(href="main-error-page.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Error Page 
            li
              a.menu(href="side-menu-update-profile.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Update profile 
            li
              a.menu(href="side-menu-change-password.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Change Password 
        li.menu__devider.my-6
        li
          a.menu(href="javascript:;")
            .menu__icon
              i(data-feather="inbox")
            .menu__title
              | Components 
              i.menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.menu(href="javascript:;")
                .menu__icon
                  i(data-feather="activity")
                .menu__title
                  | Grid 
                  i.menu__sub-icon(data-feather="chevron-down")
              ul
                li
                  a.menu(href="side-menu-regular-table.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Regular Table
                li
                  a.menu(href="side-menu-datatable.html")
                    .menu__icon
                      i(data-feather="zap")
                    .menu__title Datatable
            li
              a.menu(href="side-menu-accordion.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Accordion 
            li
              a.menu(href="side-menu-button.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Button 
            li
              a.menu(href="side-menu-modal.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Modal 
            li
              a.menu(href="side-menu-alert.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Alert 
            li
              a.menu(href="side-menu-progress-bar.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Progress Bar 
            li
              a.menu(href="side-menu-tooltip.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Tooltip 
            li
              a.menu(href="side-menu-dropdown.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Dropdown 
            li
              a.menu(href="side-menu-toast.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Toast 
            li
              a.menu(href="side-menu-typography.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Typography 
            li
              a.menu(href="side-menu-icon.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Icon 
            li
              a.menu(href="side-menu-loading-icon.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Loading Icon 
        li
          a.menu(href="javascript:;")
            .menu__icon
              i(data-feather="sidebar")
            .menu__title
              | Forms 
              i.menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.menu(href="side-menu-regular-form.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Regular Form 
            li
              a.menu(href="side-menu-datepicker.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Datepicker 
            li
              a.menu(href="side-menu-select2.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Select2 
            li
              a.menu(href="side-menu-file-upload.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  File Upload 
            li
              a.menu(href="side-menu-wysiwyg-editor.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Wysiwyg Editor 
            li
              a.menu(href="side-menu-validation.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Validation 
        li
          a.menu(href="javascript:;")
            .menu__icon
              i(data-feather="hard-drive")
            .menu__title
              | Widgets 
              i.menu__sub-icon(data-feather="chevron-down")
          ul
            li
              a.menu(href="side-menu-chart.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Chart 
            li
              a.menu(href="side-menu-slider.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Slider 
            li
              a.menu(href="side-menu-image-zoom.html")
                .menu__icon
                  i(data-feather="activity")
                .menu__title  Image Zoom 
    // END: Mobile Menu
    .flex
      // BEGIN: Side Menu
      nav.side-nav
        a.intro-x.flex.items-center.pl-5.pt-4(href="")
          img.w-6(alt="Midone Tailwind HTML Admin Template" src="/images/logo.svg")
          span.hidden.text-white.text-lg.ml-3(class="xl:block")
            | Mid
            span.font-medium one
        .side-nav__devider.my-6
        ul
          li
            a.side-menu.side-menu--active(href="index.html")
              .side-menu__icon
                i(data-feather="home")
              .side-menu__title  Dashboard 
          li
            a.side-menu(href="javascript:;")
              .side-menu__icon
                i(data-feather="box")
              .side-menu__title
                | Menu Layout 
                i.side-menu__sub-icon(data-feather="chevron-down")
            ul
              li
                a.side-menu(href="index.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Side Menu 
              li
                a.side-menu(href="simple-menu-dashboard.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Simple Menu 
              li
                a.side-menu(href="top-menu-dashboard.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Top Menu 
          li
            a.side-menu(href="side-menu-inbox.html")
              .side-menu__icon
                i(data-feather="inbox")
              .side-menu__title  Inbox 
          li
            a.side-menu(href="side-menu-file-manager.html")
              .side-menu__icon
                i(data-feather="hard-drive")
              .side-menu__title  File Manager 
          li
            a.side-menu(href="side-menu-point-of-sale.html")
              .side-menu__icon
                i(data-feather="credit-card")
              .side-menu__title  Point of Sale 
          li
            a.side-menu(href="side-menu-chat.html")
              .side-menu__icon
                i(data-feather="message-square")
              .side-menu__title  Chat 
          li
            a.side-menu(href="side-menu-post.html")
              .side-menu__icon
                i(data-feather="file-text")
              .side-menu__title  Post 
          li.side-nav__devider.my-6
          li
            a.side-menu(href="javascript:;")
              .side-menu__icon
                i(data-feather="edit")
              .side-menu__title
                | Crud 
                i.side-menu__sub-icon(data-feather="chevron-down")
            ul
              li
                a.side-menu(href="side-menu-crud-data-list.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Data List 
              li
                a.side-menu(href="side-menu-crud-form.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Form 
          li
            a.side-menu(href="javascript:;")
              .side-menu__icon
                i(data-feather="users")
              .side-menu__title
                | Users 
                i.side-menu__sub-icon(data-feather="chevron-down")
            ul
              li
                a.side-menu(href="side-menu-users-layout-1.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Layout 1 
              li
                a.side-menu(href="side-menu-users-layout-2.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Layout 2 
              li
                a.side-menu(href="side-menu-users-layout-3.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Layout 3 
          li
            a.side-menu(href="javascript:;")
              .side-menu__icon
                i(data-feather="trello")
              .side-menu__title
                | Profile 
                i.side-menu__sub-icon(data-feather="chevron-down")
            ul
              li
                a.side-menu(href="side-menu-profile-overview-1.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Overview 1 
              li
                a.side-menu(href="side-menu-profile-overview-2.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Overview 2 
              li
                a.side-menu(href="side-menu-profile-overview-3.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Overview 3 
          li
            a.side-menu(href="javascript:;")
              .side-menu__icon
                i(data-feather="layout")
              .side-menu__title
                | Pages 
                i.side-menu__sub-icon(data-feather="chevron-down")
            ul
              li
                a.side-menu(href="javascript:;")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title
                    | Wizards 
                    i.side-menu__sub-icon(data-feather="chevron-down")
                ul
                  li
                    a.side-menu(href="side-menu-wizard-layout-1.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 1
                  li
                    a.side-menu(href="side-menu-wizard-layout-2.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 2
                  li
                    a.side-menu(href="side-menu-wizard-layout-3.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 3
              li
                a.side-menu(href="javascript:;")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title
                    | Blog 
                    i.side-menu__sub-icon(data-feather="chevron-down")
                ul
                  li
                    a.side-menu(href="side-menu-blog-layout-1.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 1
                  li
                    a.side-menu(href="side-menu-blog-layout-2.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 2
                  li
                    a.side-menu(href="side-menu-blog-layout-3.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 3
              li
                a.side-menu(href="javascript:;")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title
                    | Pricing 
                    i.side-menu__sub-icon(data-feather="chevron-down")
                ul
                  li
                    a.side-menu(href="side-menu-pricing-layout-1.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 1
                  li
                    a.side-menu(href="side-menu-pricing-layout-2.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 2
              li
                a.side-menu(href="javascript:;")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title
                    | Invoice 
                    i.side-menu__sub-icon(data-feather="chevron-down")
                ul
                  li
                    a.side-menu(href="side-menu-invoice-layout-1.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 1
                  li
                    a.side-menu(href="side-menu-invoice-layout-2.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 2
              li
                a.side-menu(href="javascript:;")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title
                    | FAQ 
                    i.side-menu__sub-icon(data-feather="chevron-down")
                ul
                  li
                    a.side-menu(href="side-menu-faq-layout-1.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 1
                  li
                    a.side-menu(href="side-menu-faq-layout-2.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 2
                  li
                    a.side-menu(href="side-menu-faq-layout-3.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Layout 3
              li
                a.side-menu(href="login-login.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Login 
              li
                a.side-menu(href="login-register.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Register 
              li
                a.side-menu(href="main-error-page.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Error Page 
              li
                a.side-menu(href="side-menu-update-profile.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Update profile 
              li
                a.side-menu(href="side-menu-change-password.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Change Password 
          li.side-nav__devider.my-6
          li
            a.side-menu(href="javascript:;")
              .side-menu__icon
                i(data-feather="inbox")
              .side-menu__title
                | Components 
                i.side-menu__sub-icon(data-feather="chevron-down")
            ul
              li
                a.side-menu(href="javascript:;")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title
                    | Grid 
                    i.side-menu__sub-icon(data-feather="chevron-down")
                ul
                  li
                    a.side-menu(href="side-menu-regular-table.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Regular Table
                  li
                    a.side-menu(href="side-menu-datatable.html")
                      .side-menu__icon
                        i(data-feather="zap")
                      .side-menu__title Datatable
              li
                a.side-menu(href="side-menu-accordion.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Accordion 
              li
                a.side-menu(href="side-menu-button.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Button 
              li
                a.side-menu(href="side-menu-modal.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Modal 
              li
                a.side-menu(href="side-menu-alert.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Alert 
              li
                a.side-menu(href="side-menu-progress-bar.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Progress Bar 
              li
                a.side-menu(href="side-menu-tooltip.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Tooltip 
              li
                a.side-menu(href="side-menu-dropdown.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Dropdown 
              li
                a.side-menu(href="side-menu-toast.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Toast 
              li
                a.side-menu(href="side-menu-typography.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Typography 
              li
                a.side-menu(href="side-menu-icon.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Icon 
              li
                a.side-menu(href="side-menu-loading-icon.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Loading Icon 
          li
            a.side-menu(href="javascript:;")
              .side-menu__icon
                i(data-feather="sidebar")
              .side-menu__title
                | Forms 
                i.side-menu__sub-icon(data-feather="chevron-down")
            ul
              li
                a.side-menu(href="side-menu-regular-form.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Regular Form 
              li
                a.side-menu(href="side-menu-datepicker.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Datepicker 
              li
                a.side-menu(href="side-menu-select2.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Select2 
              li
                a.side-menu(href="side-menu-file-upload.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  File Upload 
              li
                a.side-menu(href="side-menu-wysiwyg-editor.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Wysiwyg Editor 
              li
                a.side-menu(href="side-menu-validation.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Validation 
          li
            a.side-menu(href="javascript:;")
              .side-menu__icon
                i(data-feather="hard-drive")
              .side-menu__title
                | Widgets 
                i.side-menu__sub-icon(data-feather="chevron-down")
            ul
              li
                a.side-menu(href="side-menu-chart.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Chart 
              li
                a.side-menu(href="side-menu-slider.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Slider 
              li
                a.side-menu(href="side-menu-image-zoom.html")
                  .side-menu__icon
                    i(data-feather="activity")
                  .side-menu__title  Image Zoom 
      // END: Side Menu
      // BEGIN: Content
      .content
        // BEGIN: Top Bar
        .top-bar
          // BEGIN: Breadcrumb
          .-intro-x.breadcrumb.mr-auto.hidden(class="sm:flex")
            a(href="") Application
            i.breadcrumb__icon(data-feather="chevron-right")
            a.breadcrumb--active(href="") Dashboard
          // END: Breadcrumb
          // BEGIN: Search
          .intro-x.relative.mr-3(class="sm:mr-6")
            .search.hidden(class="sm:block")
              input.search__input.input.placeholder-theme-13(type="text" placeholder="Search...")
              i.search__icon(data-feather="search")
            a.notification(class="sm:hidden" href="")
              i.notification__icon(data-feather="search")
            .search-result
              .search-result__content
                .search-result__content__title Pages
                .mb-5
                  a.flex.items-center(href="")
                    .w-8.h-8.bg-theme-18.text-theme-9.flex.items-center.justify-center.rounded-full
                      i.w-4.h-4(data-feather="inbox")
                    .ml-3 Mail Settings
                  a.flex.items-center.mt-2(href="")
                    .w-8.h-8.bg-theme-17.text-theme-11.flex.items-center.justify-center.rounded-full
                      i.w-4.h-4(data-feather="users")
                    .ml-3 Users &amp; Permissions
                  a.flex.items-center.mt-2(href="")
                    .w-8.h-8.bg-theme-14.text-theme-10.flex.items-center.justify-center.rounded-full
                      i.w-4.h-4(data-feather="credit-card")
                    .ml-3 Transactions Report
                .search-result__content__title Users
                .mb-5
                  a.flex.items-center.mt-2(href="")
                    .w-8.h-8.image-fit
                      img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/profile-15.jpg")
                    .ml-3 #{name}
                    .ml-auto.w-48.truncate.text-gray-600.text-xs.text-right robertdeniro@left4code.com
                  a.flex.items-center.mt-2(href="")
                    .w-8.h-8.image-fit
                      img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/profile-5.jpg")
                    .ml-3 Johnny Depp
                    .ml-auto.w-48.truncate.text-gray-600.text-xs.text-right johnnydepp@left4code.com
                  a.flex.items-center.mt-2(href="")
                    .w-8.h-8.image-fit
                      img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/profile-12.jpg")
                    .ml-3 Johnny Depp
                    .ml-auto.w-48.truncate.text-gray-600.text-xs.text-right johnnydepp@left4code.com
                  a.flex.items-center.mt-2(href="")
                    .w-8.h-8.image-fit
                      img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/profile-12.jpg")
                    .ml-3 Kevin Spacey
                    .ml-auto.w-48.truncate.text-gray-600.text-xs.text-right kevinspacey@left4code.com
                .search-result__content__title Products
                a.flex.items-center.mt-2(href="")
                  .w-8.h-8.image-fit
                    img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-1.jpg")
                  .ml-3 Oppo Find X2 Pro
                  .ml-auto.w-48.truncate.text-gray-600.text-xs.text-right Smartphone &amp; Tablet
                a.flex.items-center.mt-2(href="")
                  .w-8.h-8.image-fit
                    img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-1.jpg")
                  .ml-3 Nikon Z6
                  .ml-auto.w-48.truncate.text-gray-600.text-xs.text-right Photography
                a.flex.items-center.mt-2(href="")
                  .w-8.h-8.image-fit
                    img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-2.jpg")
                  .ml-3 Oppo Find X2 Pro
                  .ml-auto.w-48.truncate.text-gray-600.text-xs.text-right Smartphone &amp; Tablet
                a.flex.items-center.mt-2(href="")
                  .w-8.h-8.image-fit
                    img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-1.jpg")
                  .ml-3 Nikon Z6
                  .ml-auto.w-48.truncate.text-gray-600.text-xs.text-right Photography
          // END: Search
          // BEGIN: Notifications
          .intro-x.dropdown.relative.mr-auto(class="sm:mr-6")
            .dropdown-toggle.notification.notification--bullet.cursor-pointer
              i.notification__icon(data-feather="bell")
            .notification-content.dropdown-box.mt-8.absolute.top-0.left-0.z-20.-ml-10(class="sm:left-auto sm:right-0 sm:ml-0")
              .notification-content__box.dropdown-box__content.box
                .notification-content__title Notifications
                .cursor-pointer.relative.flex.items-center
                  .w-12.h-12.flex-none.image-fit.mr-1
                    img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/profile-15.jpg")
                    .w-3.h-3.bg-theme-9.absolute.right-0.bottom-0.rounded-full.border-2.border-white
                  .ml-2.overflow-hidden
                    .flex.items-center
                      a.font-medium.truncate.mr-5(href="javascript:;") Robert De Niro
                      .text-xs.text-gray-500.ml-auto.whitespace-no-wrap 01:10 PM
                    .w-full.truncate.text-gray-600
                      | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
                .cursor-pointer.relative.flex.items-center.mt-5
                  .w-12.h-12.flex-none.image-fit.mr-1
                    img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/profile-5.jpg")
                    .w-3.h-3.bg-theme-9.absolute.right-0.bottom-0.rounded-full.border-2.border-white
                  .ml-2.overflow-hidden
                    .flex.items-center
                      a.font-medium.truncate.mr-5(href="javascript:;") Johnny Depp
                      .text-xs.text-gray-500.ml-auto.whitespace-no-wrap 06:05 AM
                    .w-full.truncate.text-gray-600
                      | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
                .cursor-pointer.relative.flex.items-center.mt-5
                  .w-12.h-12.flex-none.image-fit.mr-1
                    img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/profile-12.jpg")
                    .w-3.h-3.bg-theme-9.absolute.right-0.bottom-0.rounded-full.border-2.border-white
                  .ml-2.overflow-hidden
                    .flex.items-center
                      a.font-medium.truncate.mr-5(href="javascript:;") Johnny Depp
                      .text-xs.text-gray-500.ml-auto.whitespace-no-wrap 01:10 PM
                    .w-full.truncate.text-gray-600
                      | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20
                .cursor-pointer.relative.flex.items-center.mt-5
                  .w-12.h-12.flex-none.image-fit.mr-1
                    img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/profile-12.jpg")
                    .w-3.h-3.bg-theme-9.absolute.right-0.bottom-0.rounded-full.border-2.border-white
                  .ml-2.overflow-hidden
                    .flex.items-center
                      a.font-medium.truncate.mr-5(href="javascript:;") Kevin Spacey
                      .text-xs.text-gray-500.ml-auto.whitespace-no-wrap 06:05 AM
                    .w-full.truncate.text-gray-600
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500
                .cursor-pointer.relative.flex.items-center.mt-5
                  .w-12.h-12.flex-none.image-fit.mr-1
                    img.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/profile-14.jpg")
                    .w-3.h-3.bg-theme-9.absolute.right-0.bottom-0.rounded-full.border-2.border-white
                  .ml-2.overflow-hidden
                    .flex.items-center
                      a.font-medium.truncate.mr-5(href="javascript:;") Brad Pitt
                      .text-xs.text-gray-500.ml-auto.whitespace-no-wrap 06:05 AM
                    .w-full.truncate.text-gray-600
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500
          // END: Notifications
          // BEGIN: Account Menu
          .intro-x.dropdown.w-8.h-8.relative
            .dropdown-toggle.w-8.h-8.rounded-full.overflow-hidden.shadow-lg.image-fit.zoom-in
              img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-8.jpg")
            .dropdown-box.mt-10.absolute.w-56.top-0.right-0.z-20
              .dropdown-box__content.box.bg-theme-38.text-white
                .p-4.border-b.border-theme-40
                  .font-medium #{name}
                .p-2
                  a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.rounded-md(href="" class="hover:bg-theme-1")
                    i.w-4.h-4.mr-2(data-feather="user")
                    |  Profile
                  a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.rounded-md(href="" class="hover:bg-theme-1")
                    i.w-4.h-4.mr-2(data-feather="edit")
                    |  Add Account
                  a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.rounded-md(href="" class="hover:bg-theme-1")
                    i.w-4.h-4.mr-2(data-feather="lock")
                    |  Reset Password
                  a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.rounded-md(href="" class="hover:bg-theme-1")
                    i.w-4.h-4.mr-2(data-feather="help-circle")
                    |  Help
                .p-2.border-t.border-theme-40
                  a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.rounded-md(href="" class="hover:bg-theme-1")
                    i.w-4.h-4.mr-2(data-feather="toggle-right")
                    |  Logout
          // END: Account Menu
        // END: Top Bar
        .grid.grid-cols-12.gap-6
          .col-span-12.grid.grid-cols-12.gap-6(class="xxl:col-span-9")
            // BEGIN: General Report
            .col-span-12.mt-8
              .intro-y.flex.items-center.h-10
                h2.text-lg.font-medium.truncate.mr-5
                  | General Report
                a.ml-auto.flex.text-theme-1(href="")
                  i.w-4.h-4.mr-3(data-feather="refresh-ccw")
                  |  Reload Data
              .grid.grid-cols-12.gap-6.mt-5
                .col-span-12.intro-y(class="sm:col-span-6 xl:col-span-3")
                  .report-box.zoom-in
                    .box.p-5
                      .flex
                        i.report-box__icon.text-theme-10(data-feather="shopping-cart")
                        .ml-auto
                          .report-box__indicator.bg-theme-9.tooltip.cursor-pointer(title="33% Higher than last month")
                            | 33% 
                            i.w-4.h-4(data-feather="chevron-up")
                      .text-3xl.font-bold.leading-8.mt-6 4.510
                      .text-base.text-gray-600.mt-1 Item Sales
                .col-span-12.intro-y(class="sm:col-span-6 xl:col-span-3")
                  .report-box.zoom-in
                    .box.p-5
                      .flex
                        i.report-box__icon.text-theme-11(data-feather="credit-card")
                        .ml-auto
                          .report-box__indicator.bg-theme-6.tooltip.cursor-pointer(title="2% Lower than last month")
                            | 2% 
                            i.w-4.h-4(data-feather="chevron-down")
                      .text-3xl.font-bold.leading-8.mt-6 3.521
                      .text-base.text-gray-600.mt-1 New Orders
                .col-span-12.intro-y(class="sm:col-span-6 xl:col-span-3")
                  .report-box.zoom-in
                    .box.p-5
                      .flex
                        i.report-box__icon.text-theme-12(data-feather="monitor")
                        .ml-auto
                          .report-box__indicator.bg-theme-9.tooltip.cursor-pointer(title="12% Higher than last month")
                            | 12% 
                            i.w-4.h-4(data-feather="chevron-up")
                      .text-3xl.font-bold.leading-8.mt-6 2.145
                      .text-base.text-gray-600.mt-1 Total Products
                .col-span-12.intro-y(class="sm:col-span-6 xl:col-span-3")
                  .report-box.zoom-in
                    .box.p-5
                      .flex
                        i.report-box__icon.text-theme-9(data-feather="user")
                        .ml-auto
                          .report-box__indicator.bg-theme-9.tooltip.cursor-pointer(title="22% Higher than last month")
                            | 22% 
                            i.w-4.h-4(data-feather="chevron-up")
                      .text-3xl.font-bold.leading-8.mt-6 152.000
                      .text-base.text-gray-600.mt-1 Unique Visitor
            // END: General Report
            // BEGIN: Sales Report
            .col-span-12.mt-8(class="lg:col-span-6")
              .intro-y.block.items-center.h-10(class="sm:flex")
                h2.text-lg.font-medium.truncate.mr-5
                  | Sales Report
                .mt-3.relative.text-gray-700(class="sm:ml-auto sm:mt-0")
                  i.w-4.h-4.z-10.absolute.my-auto.inset-y-0.ml-3.left-0(data-feather="calendar")
                  input.datepicker.input.w-full.box.pl-10(type="text" data-daterange="true" class="sm:w-56")
              .intro-y.box.p-5.mt-12(class="sm:mt-5")
                .flex.flex-col(class="xl:flex-row xl:items-center")
                  .flex
                    div
                      .text-theme-20.text-lg.font-bold(class="xl:text-xl") $15,000
                      .text-gray-600 This Month
                    .w-px.h-12.border.border-r.border-dashed.border-gray-300.mx-4(class="xl:mx-6")
                    div
                      .text-gray-600.text-lg.font-medium(class="xl:text-xl") $10,000
                      .text-gray-600 Last Month
                  .dropdown.relative.mt-5(class="xl:ml-auto xl:mt-0")
                    button.dropdown-toggle.button.font-normal.border.text-white.relative.flex.items-center.text-gray-700
                      | Filter by Category 
                      i.w-4.h-4.ml-2(data-feather="chevron-down")
                    .dropdown-box.mt-10.absolute.w-40.top-0.z-20(class="xl:right-0")
                      .dropdown-box__content.box.p-2.overflow-y-auto.h-32
                        a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.bg-white.rounded-md(href="" class="hover:bg-gray-200") PC &amp; Laptop
                        a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.bg-white.rounded-md(href="" class="hover:bg-gray-200") Smartphone
                        a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.bg-white.rounded-md(href="" class="hover:bg-gray-200") Electronic
                        a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.bg-white.rounded-md(href="" class="hover:bg-gray-200") Photography
                        a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.bg-white.rounded-md(href="" class="hover:bg-gray-200") Sport
                .report-chart
                  canvas#report-line-chart.mt-6(height="160")
            // END: Sales Report
            // BEGIN: Weekly Top Seller
            .col-span-12.mt-8(class="sm:col-span-6 lg:col-span-3")
              .intro-y.flex.items-center.h-10
                h2.text-lg.font-medium.truncate.mr-5
                  | Weekly Top Seller
                a.ml-auto.text-theme-1.truncate(href="") See all
              .intro-y.box.p-5.mt-5
                canvas#report-pie-chart.mt-3(height="280")
                .mt-8
                  .flex.items-center
                    .w-2.h-2.bg-theme-11.rounded-full.mr-3
                    span.truncate 17 - 30 Years old
                    .h-px.flex-1.border.border-r.border-dashed.border-gray-300.mx-3(class="xl:hidden")
                    span.font-medium(class="xl:ml-auto") 62%
                  .flex.items-center.mt-4
                    .w-2.h-2.bg-theme-1.rounded-full.mr-3
                    span.truncate 31 - 50 Years old
                    .h-px.flex-1.border.border-r.border-dashed.border-gray-300.mx-3(class="xl:hidden")
                    span.font-medium(class="xl:ml-auto") 33%
                  .flex.items-center.mt-4
                    .w-2.h-2.bg-theme-12.rounded-full.mr-3
                    span.truncate &gt;= 50 Years old
                    .h-px.flex-1.border.border-r.border-dashed.border-gray-300.mx-3(class="xl:hidden")
                    span.font-medium(class="xl:ml-auto") 10%
            // END: Weekly Top Seller
            // BEGIN: Sales Report
            .col-span-12.mt-8(class="sm:col-span-6 lg:col-span-3")
              .intro-y.flex.items-center.h-10
                h2.text-lg.font-medium.truncate.mr-5
                  | Sales Report
                a.ml-auto.text-theme-1.truncate(href="") See all
              .intro-y.box.p-5.mt-5
                canvas#report-donut-chart.mt-3(height="280")
                .mt-8
                  .flex.items-center
                    .w-2.h-2.bg-theme-11.rounded-full.mr-3
                    span.truncate 17 - 30 Years old
                    .h-px.flex-1.border.border-r.border-dashed.border-gray-300.mx-3(class="xl:hidden")
                    span.font-medium(class="xl:ml-auto") 62%
                  .flex.items-center.mt-4
                    .w-2.h-2.bg-theme-1.rounded-full.mr-3
                    span.truncate 31 - 50 Years old
                    .h-px.flex-1.border.border-r.border-dashed.border-gray-300.mx-3(class="xl:hidden")
                    span.font-medium(class="xl:ml-auto") 33%
                  .flex.items-center.mt-4
                    .w-2.h-2.bg-theme-12.rounded-full.mr-3
                    span.truncate &gt;= 50 Years old
                    .h-px.flex-1.border.border-r.border-dashed.border-gray-300.mx-3(class="xl:hidden")
                    span.font-medium(class="xl:ml-auto") 10%
            // END: Sales Report
            // BEGIN: Official Store
            .col-span-12.mt-6(class="xl:col-span-8")
              .intro-y.block.items-center.h-10(class="sm:flex")
                h2.text-lg.font-medium.truncate.mr-5
                  | Official Store
                .mt-3.relative.text-gray-700(class="sm:ml-auto sm:mt-0")
                  i.w-4.h-4.z-10.absolute.my-auto.inset-y-0.ml-3.left-0(data-feather="map-pin")
                  input.input.w-full.box.pl-10(type="text" class="sm:w-40" placeholder="Filter by city")
              .intro-y.box.p-5.mt-12(class="sm:mt-5")
                div 250 Official stores in 21 countries, click the marker to see location details.
                .report-maps.mt-5.bg-gray-200.rounded-md(data-center="-6.2425342, 106.8626478" data-sources="//json/location.json")
            // END: Official Store
            // BEGIN: Weekly Best Sellers
            .col-span-12.mt-6(class="xl:col-span-4")
              .intro-y.flex.items-center.h-10
                h2.text-lg.font-medium.truncate.mr-5
                  | Weekly Best Sellers
              .mt-5
                .intro-y
                  .box.px-4.py-4.mb-3.flex.items-center.zoom-in
                    .w-10.h-10.flex-none.image-fit.rounded-md.overflow-hidden
                      img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-13.jpg")
                    .ml-4.mr-auto
                      .font-medium Nicolas Cage
                      .text-gray-600.text-xs 7 July 2022
                    .py-1.px-2.rounded-full.text-xs.bg-theme-9.text-white.cursor-pointer.font-medium 137 Sales
                .intro-y
                  .box.px-4.py-4.mb-3.flex.items-center.zoom-in
                    .w-10.h-10.flex-none.image-fit.rounded-md.overflow-hidden
                      img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-1.jpg")
                    .ml-4.mr-auto
                      .font-medium Arnold Schwarzenegger
                      .text-gray-600.text-xs 9 August 2022
                    .py-1.px-2.rounded-full.text-xs.bg-theme-9.text-white.cursor-pointer.font-medium 137 Sales
                .intro-y
                  .box.px-4.py-4.mb-3.flex.items-center.zoom-in
                    .w-10.h-10.flex-none.image-fit.rounded-md.overflow-hidden
                      img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-7.jpg")
                    .ml-4.mr-auto
                      .font-medium Johnny Depp
                      .text-gray-600.text-xs 31 August 2022
                    .py-1.px-2.rounded-full.text-xs.bg-theme-9.text-white.cursor-pointer.font-medium 137 Sales
                .intro-y
                  .box.px-4.py-4.mb-3.flex.items-center.zoom-in
                    .w-10.h-10.flex-none.image-fit.rounded-md.overflow-hidden
                      img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-1.jpg")
                    .ml-4.mr-auto
                      .font-medium Johnny Depp
                      .text-gray-600.text-xs 5 November 2021
                    .py-1.px-2.rounded-full.text-xs.bg-theme-9.text-white.cursor-pointer.font-medium 137 Sales
                a.intro-y.w-full.block.text-center.rounded-md.py-4.border.border-dotted.border-theme-15.text-theme-16(href="") View More
            // END: Weekly Best Sellers
            // BEGIN: General Report
            .col-span-12.grid.grid-cols-12.gap-6.mt-8
              .col-span-12.intro-y(class="sm:col-span-6 xxl:col-span-3")
                .mini-report-chart.box.p-5.zoom-in
                  .flex.items-center
                    .flex-none(class="w-2/4")
                      .text-lg.font-medium.truncate Target Sales
                      .text-gray-600.mt-1 300 Sales
                    .flex-none.ml-auto.relative
                      canvas#report-donut-chart-1(width="90" height="90")
                      .font-medium.absolute.w-full.h-full.flex.items-center.justify-center.top-0.left-0 20%
              .col-span-12.intro-y(class="sm:col-span-6 xxl:col-span-3")
                .mini-report-chart.box.p-5.zoom-in
                  .flex
                    .text-lg.font-medium.truncate.mr-3 Social Media
                    .py-1.px-2.rounded-full.text-xs.bg-gray-200.text-gray-600.cursor-pointer.ml-auto.truncate 320 Followers
                  .mt-4
                    canvas.simple-line-chart-1.-ml-1(height="60")
              .col-span-12.intro-y(class="sm:col-span-6 xxl:col-span-3")
                .mini-report-chart.box.p-5.zoom-in
                  .flex.items-center
                    .flex-none(class="w-2/4")
                      .text-lg.font-medium.truncate New Products
                      .text-gray-600.mt-1 1450 Products
                    .flex-none.ml-auto.relative
                      canvas#report-donut-chart-2(width="90" height="90")
                      .font-medium.absolute.w-full.h-full.flex.items-center.justify-center.top-0.left-0 45%
              .col-span-12.intro-y(class="sm:col-span-6 xxl:col-span-3")
                .mini-report-chart.box.p-5.zoom-in
                  .flex
                    .text-lg.font-medium.truncate.mr-3 Posted Ads
                    .py-1.px-2.rounded-full.text-xs.bg-gray-200.text-gray-600.cursor-pointer.ml-auto.truncate 180 Campaign
                  .mt-4
                    canvas.simple-line-chart-1.-ml-1(height="60")
            // END: General Report
            // BEGIN: Weekly Top Seller
            .col-span-12.mt-6
              .intro-y.block.items-center.h-10(class="sm:flex")
                h2.text-lg.font-medium.truncate.mr-5
                  | Weekly Top Seller
                .flex.items-center.mt-3(class="sm:ml-auto sm:mt-0")
                  button.button.box.flex.items-center.text-gray-700
                    i.hidden.w-4.h-4.mr-2(data-feather="file-text" class="sm:block")
                    |  Export to Excel
                  button.ml-3.button.box.flex.items-center.text-gray-700
                    i.hidden.w-4.h-4.mr-2(data-feather="file-text" class="sm:block")
                    |  Export to PDF
              .intro-y.overflow-auto.mt-8(class="lg:overflow-visible sm:mt-0")
                table.table.table-report(class="sm:mt-2")
                  thead
                    tr
                      th.whitespace-no-wrap IMAGES
                      th.whitespace-no-wrap PRODUCT NAME
                      th.text-center.whitespace-no-wrap STOCK
                      th.text-center.whitespace-no-wrap STATUS
                      th.text-center.whitespace-no-wrap ACTIONS
                  tbody
                    tr.intro-x
                      td.w-40
                        .flex
                          .w-10.h-10.image-fit.zoom-in
                            img.tooltip.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-10.jpg" title="Uploaded at 7 July 2022")
                          .w-10.h-10.image-fit.zoom-in.-ml-5
                            img.tooltip.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-13.jpg" title="Uploaded at 25 May 2022")
                          .w-10.h-10.image-fit.zoom-in.-ml-5
                            img.tooltip.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-9.jpg" title="Uploaded at 12 June 2022")
                      td
                        a.font-medium.whitespace-no-wrap(href="") Samsung Galaxy S20 Ultra
                        .text-gray-600.text-xs.whitespace-no-wrap Smartphone &amp; Tablet
                      td.text-center 158
                      td.w-40
                        .flex.items-center.justify-center.text-theme-9
                          i.w-4.h-4.mr-2(data-feather="check-square")
                          |  Active
                      td.table-report__action.w-56
                        .flex.justify-center.items-center
                          a.flex.items-center.mr-3(href="")
                            i.w-4.h-4.mr-1(data-feather="check-square")
                            |  Edit
                          a.flex.items-center.text-theme-6(href="")
                            i.w-4.h-4.mr-1(data-feather="trash-2")
                            |  Delete
                    tr.intro-x
                      td.w-40
                        .flex
                          .w-10.h-10.image-fit.zoom-in
                            img.tooltip.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-4.jpg" title="Uploaded at 9 August 2022")
                          .w-10.h-10.image-fit.zoom-in.-ml-5
                            img.tooltip.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-6.jpg" title="Uploaded at 6 July 2020")
                          .w-10.h-10.image-fit.zoom-in.-ml-5
                            img.tooltip.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-2.jpg" title="Uploaded at 6 October 2021")
                      td
                        a.font-medium.whitespace-no-wrap(href="") Sony Master Series A9G
                        .text-gray-600.text-xs.whitespace-no-wrap Electronic
                      td.text-center 50
                      td.w-40
                        .flex.items-center.justify-center.text-theme-6
                          i.w-4.h-4.mr-2(data-feather="check-square")
                          |  Inactive
                      td.table-report__action.w-56
                        .flex.justify-center.items-center
                          a.flex.items-center.mr-3(href="")
                            i.w-4.h-4.mr-1(data-feather="check-square")
                            |  Edit
                          a.flex.items-center.text-theme-6(href="")
                            i.w-4.h-4.mr-1(data-feather="trash-2")
                            |  Delete
                    tr.intro-x
                      td.w-40
                        .flex
                          .w-10.h-10.image-fit.zoom-in
                            img.tooltip.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-12.jpg" title="Uploaded at 31 August 2022")
                          .w-10.h-10.image-fit.zoom-in.-ml-5
                            img.tooltip.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-14.jpg" title="Uploaded at 17 May 2020")
                          .w-10.h-10.image-fit.zoom-in.-ml-5
                            img.tooltip.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-9.jpg" title="Uploaded at 15 March 2021")
                      td
                        a.font-medium.whitespace-no-wrap(href="") Sony Master Series A9G
                        .text-gray-600.text-xs.whitespace-no-wrap Electronic
                      td.text-center 99
                      td.w-40
                        .flex.items-center.justify-center.text-theme-9
                          i.w-4.h-4.mr-2(data-feather="check-square")
                          |  Active
                      td.table-report__action.w-56
                        .flex.justify-center.items-center
                          a.flex.items-center.mr-3(href="")
                            i.w-4.h-4.mr-1(data-feather="check-square")
                            |  Edit
                          a.flex.items-center.text-theme-6(href="")
                            i.w-4.h-4.mr-1(data-feather="trash-2")
                            |  Delete
                    tr.intro-x
                      td.w-40
                        .flex
                          .w-10.h-10.image-fit.zoom-in
                            img.tooltip.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-15.jpg" title="Uploaded at 5 November 2021")
                          .w-10.h-10.image-fit.zoom-in.-ml-5
                            img.tooltip.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-3.jpg" title="Uploaded at 22 April 2021")
                          .w-10.h-10.image-fit.zoom-in.-ml-5
                            img.tooltip.rounded-full(alt="Midone Tailwind HTML Admin Template" src="/images/preview-13.jpg" title="Uploaded at 14 April 2021")
                      td
                        a.font-medium.whitespace-no-wrap(href="") Dell XPS 13
                        .text-gray-600.text-xs.whitespace-no-wrap PC &amp; Laptop
                      td.text-center 50
                      td.w-40
                        .flex.items-center.justify-center.text-theme-9
                          i.w-4.h-4.mr-2(data-feather="check-square")
                          |  Active
                      td.table-report__action.w-56
                        .flex.justify-center.items-center
                          a.flex.items-center.mr-3(href="")
                            i.w-4.h-4.mr-1(data-feather="check-square")
                            |  Edit
                          a.flex.items-center.text-theme-6(href="")
                            i.w-4.h-4.mr-1(data-feather="trash-2")
                            |  Delete
              .intro-y.flex.flex-wrap.items-center.mt-3(class="sm:flex-row sm:flex-no-wrap")
                ul.pagination
                  li
                    a.pagination__link(href="")
                      i.w-4.h-4(data-feather="chevrons-left")
                  li
                    a.pagination__link(href="")
                      i.w-4.h-4(data-feather="chevron-left")
                  li
                    a.pagination__link(href="") ...
                  li
                    a.pagination__link(href="") 1
                  li
                    a.pagination__link.pagination__link--active(href="") 2
                  li
                    a.pagination__link(href="") 3
                  li
                    a.pagination__link(href="") ...
                  li
                    a.pagination__link(href="")
                      i.w-4.h-4(data-feather="chevron-right")
                  li
                    a.pagination__link(href="")
                      i.w-4.h-4(data-feather="chevrons-right")
                select.w-20.input.box.mt-3(class="sm:mt-0")
                  option 10
                  option 25
                  option 35
                  option 50
            // END: Weekly Top Seller
          .col-span-12.border-theme-5.-mb-10.pb-10(class="xxl:col-span-3 xxl:border-l")
            .grid.grid-cols-12.gap-6(class="xxl:pl-6")
              // BEGIN: Transactions
              .col-span-12.mt-3(class="md:col-span-6 xl:col-span-4 xxl:col-span-12 xxl:mt-8")
                .intro-x.flex.items-center.h-10
                  h2.text-lg.font-medium.truncate.mr-5
                    | Transactions
                .mt-5
                  .intro-x
                    .box.px-5.py-3.mb-3.flex.items-center.zoom-in
                      .w-10.h-10.flex-none.image-fit.rounded-full.overflow-hidden
                        img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-13.jpg")
                      .ml-4.mr-auto
                        .font-medium Nicolas Cage
                        .text-gray-600.text-xs 7 July 2022
                      .text-theme-9 +$88
                  .intro-x
                    .box.px-5.py-3.mb-3.flex.items-center.zoom-in
                      .w-10.h-10.flex-none.image-fit.rounded-full.overflow-hidden
                        img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-1.jpg")
                      .ml-4.mr-auto
                        .font-medium Arnold Schwarzenegger
                        .text-gray-600.text-xs 9 August 2022
                      .text-theme-6 +$47
                  .intro-x
                    .box.px-5.py-3.mb-3.flex.items-center.zoom-in
                      .w-10.h-10.flex-none.image-fit.rounded-full.overflow-hidden
                        img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-7.jpg")
                      .ml-4.mr-auto
                        .font-medium Johnny Depp
                        .text-gray-600.text-xs 31 August 2022
                      .text-theme-9 +$34
                  .intro-x
                    .box.px-5.py-3.mb-3.flex.items-center.zoom-in
                      .w-10.h-10.flex-none.image-fit.rounded-full.overflow-hidden
                        img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-1.jpg")
                      .ml-4.mr-auto
                        .font-medium Johnny Depp
                        .text-gray-600.text-xs 5 November 2021
                      .text-theme-9 +$42
                  .intro-x
                    .box.px-5.py-3.mb-3.flex.items-center.zoom-in
                      .w-10.h-10.flex-none.image-fit.rounded-full.overflow-hidden
                        img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-7.jpg")
                      .ml-4.mr-auto
                        .font-medium Al Pacino
                        .text-gray-600.text-xs 17 October 2021
                      .text-theme-6 +$22
                  a.intro-x.w-full.block.text-center.rounded-md.py-3.border.border-dotted.border-theme-15.text-theme-16(href="") View More
              // END: Transactions
              // BEGIN: Recent Activities
              .col-span-12.mt-3(class="md:col-span-6 xl:col-span-4 xxl:col-span-12")
                .intro-x.flex.items-center.h-10
                  h2.text-lg.font-medium.truncate.mr-5
                    | Recent Activities
                  a.ml-auto.text-theme-1.truncate(href="") See all
                .report-timeline.mt-5.relative
                  .intro-x.relative.flex.items-center.mb-3
                    .report-timeline__image
                      .w-10.h-10.flex-none.image-fit.rounded-full.overflow-hidden
                        img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-4.jpg")
                    .box.px-5.py-3.ml-4.flex-1.zoom-in
                      .flex.items-center
                        .font-medium John Travolta
                        .text-xs.text-gray-500.ml-auto 07:00 PM
                      .text-gray-600.mt-1 Has joined the team
                  .intro-x.relative.flex.items-center.mb-3
                    .report-timeline__image
                      .w-10.h-10.flex-none.image-fit.rounded-full.overflow-hidden
                        img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-7.jpg")
                    .box.px-5.py-3.ml-4.flex-1.zoom-in
                      .flex.items-center
                        .font-medium John Travolta
                        .text-xs.text-gray-500.ml-auto 07:00 PM
                      .text-gray-600
                        .mt-1 Added 3 new photos
                        .flex.mt-2
                          .tooltip.w-8.h-8.image-fit.mr-1.zoom-in(title="Samsung Galaxy S20 Ultra")
                            img.rounded-md.border.border-white(alt="Midone Tailwind HTML Admin Template" src="/images/preview-8.jpg")
                          .tooltip.w-8.h-8.image-fit.mr-1.zoom-in(title="Sony Master Series A9G")
                            img.rounded-md.border.border-white(alt="Midone Tailwind HTML Admin Template" src="/images/preview-12.jpg")
                          .tooltip.w-8.h-8.image-fit.mr-1.zoom-in(title="Sony Master Series A9G")
                            img.rounded-md.border.border-white(alt="Midone Tailwind HTML Admin Template" src="/images/preview-11.jpg")
                  .intro-x.text-gray-500.text-xs.text-center.my-4 12 November
                  .intro-x.relative.flex.items-center.mb-3
                    .report-timeline__image
                      .w-10.h-10.flex-none.image-fit.rounded-full.overflow-hidden
                        img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-11.jpg")
                    .box.px-5.py-3.ml-4.flex-1.zoom-in
                      .flex.items-center
                        .font-medium Leonardo DiCaprio
                        .text-xs.text-gray-500.ml-auto 07:00 PM
                      .text-gray-600.mt-1
                        | Has changed 
                        a.text-theme-1(href="") Sony A7 III
                        |  price and description
                  .intro-x.relative.flex.items-center.mb-3
                    .report-timeline__image
                      .w-10.h-10.flex-none.image-fit.rounded-full.overflow-hidden
                        img(alt="Midone Tailwind HTML Admin Template" src="/images/profile-14.jpg")
                    .box.px-5.py-3.ml-4.flex-1.zoom-in
                      .flex.items-center
                        .font-medium Kevin Spacey
                        .text-xs.text-gray-500.ml-auto 07:00 PM
                      .text-gray-600.mt-1
                        | Has changed 
                        a.text-theme-1(href="") Apple MacBook Pro 13
                        |  description
              // END: Recent Activities
              // BEGIN: Important Notes
              .col-span-12.mt-3(class="md:col-span-6 xl:col-span-12 xxl:col-span-12 xl:col-start-1 xl:row-start-1 xxl:col-start-auto xxl:row-start-auto")
                .intro-x.flex.items-center.h-10
                  h2.text-lg.font-medium.truncate.mr-auto
                    | Important Notes
                  button.slick-navigator.button.px-2.border.border-gray-400.flex.items-center.text-gray-700.mr-2(data-carousel="important-notes" data-target="prev")
                    i.w-4.h-4(data-feather="chevron-left")
                  button.slick-navigator.button.px-2.border.border-gray-400.flex.items-center.text-gray-700(data-carousel="important-notes" data-target="next")
                    i.w-4.h-4(data-feather="chevron-right")
                .mt-5.intro-x
                  #important-notes.slick-carousel.box.zoom-in
                    .p-5
                      .text-base.font-medium.truncate Lorem Ipsum is simply dummy text
                      .text-gray-500.mt-1 20 Hours ago
                      .text-gray-600.text-justify.mt-1
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s.
                      .font-medium.flex.mt-5
                        button.button.button--sm.bg-gray-200.text-gray-600(type="button") View Notes
                        button.button.button--sm.border.border-gray-300.text-gray-600.ml-auto(type="button") Dismiss
                    .p-5
                      .font-medium.truncate Lorem Ipsum is simply dummy text
                      .text-gray-500.mt-1 20 Hours ago
                      .text-gray-600.text-justify.mt-1
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s.
                      .font-medium.flex.mt-5
                        button.button.button--sm.bg-gray-200.text-gray-600(type="button") View Notes
                        button.button.button--sm.border.border-gray-300.text-gray-600.ml-auto(type="button") Dismiss
                    .p-5
                      .font-medium.truncate Lorem Ipsum is simply dummy text
                      .text-gray-500.mt-1 20 Hours ago
                      .text-gray-600.text-justify.mt-1
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s.
                      .font-medium.flex.mt-5
                        button.button.button--sm.bg-gray-200.text-gray-600(type="button") View Notes
                        button.button.button--sm.border.border-gray-300.text-gray-600.ml-auto(type="button") Dismiss
              // END: Important Notes
              // BEGIN: Schedules
              .col-span-12.mt-3(class="md:col-span-6 xl:col-span-4 xxl:col-span-12 xl:col-start-1 xl:row-start-2 xxl:col-start-auto xxl:row-start-auto")
                .intro-x.flex.items-center.h-10
                  h2.text-lg.font-medium.truncate.mr-5
                    | Schedules
                  a.ml-auto.text-theme-1.truncate.flex.items-center(href="")
                    i.w-4.h-4.mr-1(data-feather="plus")
                    |  Add New Schedules
                .mt-5
                  .intro-x.box
                    .p-5
                      .flex
                        i.w-5.h-5.text-gray-600(data-feather="chevron-left")
                        .font-medium.mx-auto April
                        i.w-5.h-5.text-gray-600(data-feather="chevron-right")
                      .grid.grid-cols-7.gap-4.mt-5.text-center
                        .font-medium Su
                        .font-medium Mo
                        .font-medium Tu
                        .font-medium We
                        .font-medium Th
                        .font-medium Fr
                        .font-medium Sa
                        .py-1.rounded.relative.text-gray-600 29
                        .py-1.rounded.relative.text-gray-600 30
                        .py-1.rounded.relative.text-gray-600 31
                        .py-1.rounded.relative 1
                        .py-1.rounded.relative 2
                        .py-1.rounded.relative 3
                        .py-1.rounded.relative 4
                        .py-1.rounded.relative 5
                        .py-1.bg-theme-18.rounded.relative 6
                        .py-1.rounded.relative 7
                        .py-1.bg-theme-1.text-white.rounded.relative 8
                        .py-1.rounded.relative 9
                        .py-1.rounded.relative 10
                        .py-1.rounded.relative 11
                        .py-1.rounded.relative 12
                        .py-1.rounded.relative 13
                        .py-1.rounded.relative 14
                        .py-1.rounded.relative 15
                        .py-1.rounded.relative 16
                        .py-1.rounded.relative 17
                        .py-1.rounded.relative 18
                        .py-1.rounded.relative 19
                        .py-1.rounded.relative 20
                        .py-1.rounded.relative 21
                        .py-1.rounded.relative 22
                        .py-1.bg-theme-17.rounded.relative 23
                        .py-1.rounded.relative 24
                        .py-1.rounded.relative 25
                        .py-1.rounded.relative 26
                        .py-1.bg-theme-14.rounded.relative 27
                        .py-1.rounded.relative 28
                        .py-1.rounded.relative 29
                        .py-1.rounded.relative 30
                        .py-1.rounded.relative.text-gray-600 1
                        .py-1.rounded.relative.text-gray-600 2
                        .py-1.rounded.relative.text-gray-600 3
                        .py-1.rounded.relative.text-gray-600 4
                        .py-1.rounded.relative.text-gray-600 5
                        .py-1.rounded.relative.text-gray-600 6
                        .py-1.rounded.relative.text-gray-600 7
                        .py-1.rounded.relative.text-gray-600 8
                        .py-1.rounded.relative.text-gray-600 9
                    .border-t.border-gray-200.p-5
                      .flex.items-center
                        .w-2.h-2.bg-theme-11.rounded-full.mr-3
                        span.truncate UI/UX Workshop
                        .h-px.flex-1.border.border-r.border-dashed.border-gray-300.mx-3(class="xl:hidden")
                        span.font-medium(class="xl:ml-auto") 23th
                      .flex.items-center.mt-4
                        .w-2.h-2.bg-theme-1.rounded-full.mr-3
                        span.truncate VueJs Frontend Development
                        .h-px.flex-1.border.border-r.border-dashed.border-gray-300.mx-3(class="xl:hidden")
                        span.font-medium(class="xl:ml-auto") 10th
                      .flex.items-center.mt-4
                        .w-2.h-2.bg-theme-12.rounded-full.mr-3
                        span.truncate Laravel Rest API
                        .h-px.flex-1.border.border-r.border-dashed.border-gray-300.mx-3(class="xl:hidden")
                        span.font-medium(class="xl:ml-auto") 31th
              // END: Schedules
      // END: Content
    // BEGIN: JS Assets
    script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=[")
    script(src="/js/app.js")
    // END: JS Assets
