.queriessection {
	background: url(../../img/allquery/pattern-bg.png) no-repeat left -1400px top -1000px,
				transparent url(../../img/allquery/pattern-bg.png) no-repeat right -300px top -400px;

	&__heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 3rem;

		h2 {
			font-size: 3.6rem;
			font-weight: 400;
			color: $color-headings;
			margin: 0;
		}

		form {

			.form-group {
				display: flex;
				align-items: center;
				justify-content: space-between;

				label {
					font-size: 2rem;
					font-weight: 300;
					color: $color-headings;
					margin: 0 1rem 0 0;
				}

				select {
					display: inline-block;
					border: .1rem solid rgba(#6c6c9a, 0.28);
					padding: .75rem .6rem;
					width: 15rem;
					border-radius: .5rem;
				}
			}
		}
	}

	&__content {
		background-color: $color-white;
		box-shadow: 0 0 4.3rem .8rem rgba(#2c026b, 0.10);
		padding: 2rem;

		.card {
			padding: 40px 20px;
			border-bottom: 1px solid #e1e1e1;
			
			&:last-child {
				border-bottom: none;
			}

			p {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin: 0 0 2rem;

				a {
					display: flex;
					align-items: center;
					justify-content: flex-start;

					&:not(:last-child) {
						padding-right: 1.5rem;
						border-right: .1rem solid #d5d5d5;
						margin-right: 1.5rem;
					}

					&.comment-topic {
						font-size: 2rem;
						font-weight: 400;
						line-height: 1;
						color: #7b7b7b;
					}

					&.comment-time {
						font-size: 1.6rem;
						font-weight: 300;
						line-height: 1;
						color: #7a7a7a;
					}

					img {
						width: auto;
						margin-right: .5rem;
					}
				}
			}

			h2 {
				font-size: 3rem;
				font-weight: 400;
				line-height: 1.2;
				color: $color_headings;
				margin: 0 0 3rem;
			}

			p {
				font-size: 1.6rem;
				font-weight: 300;
				line-height: 1.2;
				color: $color_headings;
				margin: 0 0 2rem;
			}

			ul {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				li {
					display: inline-block;
					
					a {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						color: $color_headings;
						margin-right: 3rem;
						
						&.comment-btn {
							border: 1px solid rgba(#6c6c9a, 0.15);
							border-radius: 5px;
							padding: 8px 16px;
							margin-right: 1rem;
						}

						img {
							width: 20px;
							margin-right: 1rem;
						}
					}
				}
			}
		}
	}

	&__sidebar {
		margin-top: 8rem;

		.card {
			box-shadow: 0 0 4.3rem .8rem rgba(#2c026b, 0.10);
			background-color: $color-white;
			padding: 20px;
			margin-bottom: 30px;

			h4 {
				font-size: 25px;
				font-weight: 400;
				margin: 0 0 20px;
			}

			ul {

				&.listStyling {

					li {
						display: block;
						position: relative;
						padding-left: 2rem;
						padding-bottom: 2rem;

						a {
							font-size: 1.8rem;
							font-weight: 400;
							color: $color-headings;
						}

						&:before {
							font-family: 'Font Awesome 5 Free';
							content: "\f105";
							font-weight: 900;
							position: absolute;
							top: 0;
							left: 0;
							z-index: 2;
						}
					}
				}
			}
		}
	}
}