// COLORS
$color-primary: #024490;
$color-secondary: #007cc2;
$color-tertiary: #01aff1;

$color-light1: #f8f8f8;
$color-light2: #eee;
$color-dark1: #999;
$color-dark2: #666;
$color-dark3: #333;

$color-red: #ff0000;
$color-green: #00a900;
$color-yellow: #ddc700;

$color-red-light: #f05555;
$color-green-light: #63af65;

$color-white: #fff;
$color-black: #000;
$color-headings: #282828;

// FONT FAMILY
$font-family-primary: 'Open Sans', 'Roboto', sans-serif;
$font-family-secondary: 'Open Sans', 'Roboto', sans-serif;

// FONT SIZES
$font-size-default: 1.5rem;
$font-size-tiny: 1.2rem;
$font-size-small: 1.4rem;
$font-size-medium: 1.7rem;
$font-size-large: 1.8rem;
$font-size-big: 2.1rem;
$font-size-huge: 2.4rem;

// FONT WEIGHT
$font-normal: 400;
$font-light: 300;
$font-semi: 600;
$font-bold: 700;
$font-black: 800;

// VIEWPORTS
$mobile: 480px;
$mobile-small: 375px;
$mobile-extra-small: 320px;

// Customs
$line-height-default: 1.4;
$box-shadow-default: 0 0 10px 2px rgba(black, 0.07);
$box-shadow-right: 5px 0 10px 2px rgba(black, 0.07);
$box-shadow-bottom: 0 5px 15px 2px rgba(black, 0.1);

.justify-content-center {
    justify-content: center !important;
}
