.mobile-menu(class="md:hidden")
  .mobile-menu-bar
    a.flex.mr-auto(href="")
      img.w-6(alt="Midone Tailwind HTML Admin Template" src="/admin/images/logo.svg")
    a#mobile-menu-toggler(href="javascript:;")
      i.w-8.h-8.text-white.transform.-rotate-90(data-feather="bar-chart-2")
  ul.border-t.border-theme-24.py-5.hidden
    li
      a.menu(class= path === '/dashboard' && 'side-menu--active' href="/admin/dashboard")
        .menu__icon
          i(data-feather="home")
        .menu__title  Dashboard 
    li
      a.menu(class= path === '/users' && 'side-menu--active' href="/admin/users")
        .menu__icon
          i(data-feather="box")
        .menu__title
          | Users
    li
      a.menu(class= path === '/articles' && 'side-menu--active' href="/admin/articles")
        .menu__icon
          i(data-feather="inbox")
        .menu__title  Articles