mixin currentPage(path)
  a.breadcrumb--active(href="") = path

.top-bar
  // BEGIN: Breadcrumb
  .-intro-x.breadcrumb.mr-auto.hidden(class="sm:flex")
    a(href="") Application
    i.breadcrumb__icon(data-feather="chevron-right")
    <a href="" class="breadcrumb--active">Dashboard</a>
  // END: Breadcrumb
  // BEGIN: Account Menu
  .intro-x.dropdown.w-8.h-8.relative
    .dropdown-toggle.w-8.h-8.rounded-full.overflow-hidden.shadow-lg.image-fit.zoom-in
      img(alt="Midone Tailwind HTML Admin Template" src="/admin/images/profile-8.jpg")
    .dropdown-box.mt-10.absolute.w-56.top-0.right-0.z-20
      .dropdown-box__content.box.bg-theme-38.text-white
        .p-4.border-b.border-theme-40
          .font-medium #{user && user.name}
        .p-2
          a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.rounded-md(href="" class="hover:bg-theme-1")
            i.w-4.h-4.mr-2(data-feather="user")
            |  Profile
          a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.rounded-md(href="" class="hover:bg-theme-1")
            i.w-4.h-4.mr-2(data-feather="edit")
            |  Add Account
          a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.rounded-md(href="" class="hover:bg-theme-1")
            i.w-4.h-4.mr-2(data-feather="lock")
            |  Reset Password
          a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.rounded-md(href="" class="hover:bg-theme-1")
            i.w-4.h-4.mr-2(data-feather="help-circle")
            |  Help
        .p-2.border-t.border-theme-40
          a.flex.items-center.block.p-2.transition.duration-300.ease-in-out.rounded-md(href= baseUrl+'/logout' class="hover:bg-theme-1")
            i.w-4.h-4.mr-2(data-feather="toggle-right")
            |  Logout
  // END: Account Menu