doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    link(href="/admin/images/logo.svg" rel="shortcut icon")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.")
    meta(name="keywords" content="admin template, Midone admin template, dashboard template, flat admin template, responsive admin template, web app")
    meta(name="author" content="LEFT4CODE")
    title Legalgram
    link(rel="stylesheet" href="/admin/css/app.css")
    link(rel="stylesheet" href="/admin/css/style.css")
    script.
      const BASE_URL = "#{baseUrl}"
  block body
    body.app
      include _mobile-menu
      .flex
          include _side-menu
          .content
              include _top-bar
              block content
                  page content placed here
      script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
      script(src="https://maps.googleapis.com/maps/api/js?key=[")
      script(src="/admin/js/app.js")
      block pageScript