.ui.form {
	font-size: 1.5rem;

	.field {
		position: relative;
		z-index: 1;
		margin-bottom: 3rem;

		label {
			font-size: $font-size-default;
			font-weight: $font-semi;
		}

		.prompt {
			position: absolute;
			top: 100%;
			right: 0;
			font-size: 1.2rem;
			font-weight: $font-semi;
		}
	}
}
